* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  max-width: 1400px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1126px;
  margin: 0 auto;
}

/* navbar */

.navbar-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 78px;
}

nav ul {
  display: flex;
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  margin-left: 2rem;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 28px;
  color: #2F281E;
}

ul {
  margin-left: auto;
}

.logo-container {
  margin-left: 0;
}

.logo-item {
  margin-left: .5rem;
}

.btn-container {
  margin-left: 3rem;
}

.sign-in {
  width: 102px;
  height: 46px;
  border: none;
  border-radius: 4px;
}

.sign-up {
  width: 110px;
  height: 46px;
  border: none;
  background: #FF9900;
  color: #fff;
  border-radius: 4px;
  margin-left: 10px;
}

/* header */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 496px;
  margin: 0 auto;
  margin-top: 30px;
}

.header-content {
  max-width: 518px;
  max-height: 331px;
}

.header-content h1 {
  max-height: 108px;
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 54px;
  color: #2F281E;
}

.header-content p {
  max-width: 458px;
  max-height: 95px;
  font-size: 18px;
  line-height: 28px;
  color: #544837;
  margin-bottom: 45px;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.header-btn-one {
  width: 175px;
  height: 53px;
  background: #FF9900;
  margin-right: 30px;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.header-btn-two {
  background: #fff;
  border: none;
  display: flex;
  align-items: center;
}

.header-btn-text {
  margin-left: 5px;
  color: #FF9900;
}

.header-image {
  max-width: 605px;
  max-height: 496px;
  display: block;
  width: 100%;
}

/* feature */

.design-features {
  margin-top: 110px;
}

.design-features h1 {
  max-width: 539px;
  max-height: 108px;
  font-weight: 700;
  line-height: 54px;
  text-align: center;
  font-size: 36px;
  color: #2F281E;
  margin: 0 auto;
  margin-bottom: 54px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;

}

.card {
  max-width: 240px;
  min-height: 204px;
  width: 100%;
  color: #2F281E;
}

.card p:first-of-type {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  margin-top: 30px;
  padding-bottom: 13px;
}

.card-icon-item {
  border-radius: 19px;
  display: flex;
  width: 50px;
  height: 50px;
}

.card-icon-item img {
  margin: auto;
}

.arrow {
  background: #7752BE;
}

.curve {
  background: #FAB005;
}

.heart {
  background: #F03E3D;
}

.time {
  background: #4DADF7;
}

.design-features-btn-container {
  text-align: center;
}

.design-features-btn {
  display: inline-block;
  margin-top: 60px;
  width: 175px;
  height: 53px;
  background: #FF9900;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

/* Effortless Validation */

h2,
h4 {
  color: #2F281E;
}

.effort-validation-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 210px;
}

.effort-validation-content {
  max-width: 486px;
  max-height: 531px;
}

.effort-validation-content h2 {
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
  margin-bottom: 22px;
}

.effort-validation-content p {
  padding-top: 12px;
  margin-bottom: 25px;
}

/* Product Managers */

.product-managers-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-managers-content {
  max-width: 486px;
  max-height: 427px;
  margin-top: 150px;
  margin-bottom: 0;
}

.product-managers-image {
  margin-top: 118px;
}

.product-managers-content h1 {
  font-size: 36px;
  color: #2F281E;
}

.product-managers-items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 30px 0;
}

.product-managers-items p:nth-of-type(1) {
  max-width: 365px;
  max-height: 52px;
  font-weight: 500;
  line-height: 26px;
}

/* Marketers */

.marketers-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.marketers-content {
  max-width: 486px;
  margin-top: 144px;
}

.marketers-content h1 {
  margin-top: 3px;
  margin-bottom: 22px;
}

.marketers-content p {
  margin-bottom: 30px;
  color: #544837;
  font-weight: 500;
  padding-top: 12px;
}

.marketers-content .optimisation {
  margin: 0;
}

.marketers-image {
  display: block;
  max-width: 542px;
  max-height: 609px;
  margin-top: 149px;
}

/* Footer */

.footer {
  min-height: 308px;
  margin-top: 185px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 3px;
  left: 28px;

}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

.footer-content ul:nth-of-type(1) {
  margin-right: 11rem;
}

.footer-content ul:nth-of-type(2) {
  margin-right: 5rem;
}

ul li {
  list-style-type: none;
  line-height: 35px;
}

.footer-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

input[type="email"] {
  border: 1px solid #bcd0e5;
  padding: 15px 30px;
  width: 325px;
  max-height: 48px;
  border-radius: 4px;
}

.signup-btn {
  width: 131px;
  height: 39px;
  background: #FF9900;
  border-radius: 4px;
  border: none;
  color: #fff;
  font-weight: 700;
  line-height: 24px;
}